@using EShopMVC.Models
@using EShopMVC.Modules.Orders.Domain.Enums
@using EShopMVC.Modules.Orders.Domain.Refunds
@using EShopMVC.Modules.Payments.Models
@using EShopMVC.Web.ViewModels
@using Refund = EShopMVC.Modules.Orders.Domain.Entities.Refund;

@model Refund


<h3>🧾 İade Detayı</h3>

<div class="mb-3">
    <strong>Sipariş:</strong> #@Model.OrderItemId <br />
    <strong>Ürün:</strong> @Model.OrderItemId <br />
    <strong>Adet:</strong> @Model.Quantity <br />
    <strong>Tutar:</strong> @Model.Amount ₺ <br />
    <strong>Durum:</strong>
    <span class="badge bg-info">@Model.Status</span>
</div>

<hr />

<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Durum</th>
            <th>Tutar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.CreatedAt.ToString("dd.MM.yyyy HH:mm")</td>
            <td>@Model.Status</td>
            <td>@Model.Amount ₺</td>
        </tr>
    </tbody>
</table>
<hr />

<a asp-action="RefundPdf"
   asp-route-refundId="@Model.Id"
   class="btn btn-outline-secondary">
    📄 PDF Fiş
</a>

<a asp-action="Pending" class="btn btn-secondary">
    ← Geri Dön
</a>
