@using EShopMVC.Modules.Orders
@using EShopMVC.Modules.Orders.Domain.Entities
@using EShopMVC.Modules.Orders.Domain
@model Order

<div class="container mt-5">
    <div class="alert alert-success">
        <h4>✅ Ödeme Başarılı</h4>
        <p>
            Siparişiniz başarıyla alındı.
            <strong>Sipariş No:</strong> #@Model.Id
        </p>
    </div>

    <h5 class="mt-4">📦 Sipariş Özeti</h5>

    <table class="table table-bordered mt-2">
        <thead>
            <tr>
                <th>Ürün</th>
                <th>Adet</th>
                <th>Fiyat</th>
                <th>Toplam</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price ₺</td>
                    <td>@(item.Price* item.Quantity) ₺</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="mt-3">
        <strong>Toplam Tutar:</strong>
        <span class="text-success fs-5">
            @Model.TotalPrice ₺
        </span>
    </div>

    <div class="mt-4">
        <a asp-controller="Order"
           asp-action="MyOrders"
           class="btn btn-outline-primary">
            Siparişlerim
        </a>

        <a asp-controller="Home"
           asp-action="Index"
           class="btn btn-secondary ms-2">
            Ana Sayfa
        </a>
    </div>
</div>
